<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="GreenMonkey"
            class="de.jcup.eclipse.plugin.greenmonkey.preferences.PreferencePage"
            id="de.jcup.eclipse.plugin.greenmonkey.preferences.GreenMonkeyPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.jcup.eclipse.plugin.greenmonkey.preferences.PreferenceInitializer">
      </initializer>
   </extension>


<extension point="org.eclipse.ui.decorators">
		<decorator
		    adaptable="true"
		    class="de.jcup.eclipse.plugin.greenmonkey.decorator.FilePathLabelDecorator"
		    id="de.jcup.eclipse.plugin.greenmonkey.decorator.FilePathLabelDecorator"
		    label="GreenMonkey file path label decorator"
		    lightweight="true"
		    state="true">
		  <enablement>
		    <or>
		      <objectClass name="org.eclipse.core.resources.IResource"/>
		        <objectClass name="org.eclipse.core.resources.IFolder"/>
		        <objectClass name="org.eclipse.core.resources.IFile"/>
		        <objectClass name="org.eclipse.jdt.core.IJavaElement"/>
		        <objectClass name="org.eclipse.jdt.core.IMember"/>
		      </or>
		  </enablement>
		</decorator>
	</extension>
   
</plugin>
